*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #333;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #e96800;
}
a{
    text-decoration: none;
}
p{
    word-break: keep-all;
}
#logo_header{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
}
#logo_header #titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: pre-line;
    font-size: 55px;
    padding-left: 35px;
    color: lavender;
}
#menu_header {
    margin: 0px 35px 20px 35px;
}
#menu_header a{
    color: lavender;
    font-size: 22px;
    padding: 13px;
    font-weight: bolder;
}
#menu_header a:hover{
    border-radius: 15px;
    color: #333;
    background-color: #ff9d4d;
}
#main_container{
    max-width: 1920px;
    min-width: 360px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #e96800;
    align-items: center;
    padding: 15px 5%;
}
#social li{
    display:inline;
    margin-right: 25px;
}
#credit a{
    color:lavender;
    font-weight: bolder;
    font-size: 18px;
}
.fa:hover{
    filter: grayscale(0%);
}
.fa{
    filter: grayscale(90%);
}
#menu_header, social{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}