#banner {
    padding: 20px;
}
.links_list {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.links_list img {
    width: 100px;
}
.links_list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px;
    text-decoration: none;
}